.list-group-item {
    background-color: #121c3e !important;
    color: white !important;
    border: 0 !important;
}
.list-group-item:hover {
    background-color: #ffc20e!important;
    color: white !important;
}
.modal-header .btn-close {
    background-color: #ffc20e;
    color: white;
}
.offcanvas-header .btn-close {
    background-color: #ffc107;
}
.navbar-toggler {
    background-color: #ffc107 !important;
    box-shadow: none !important;
}
.navbar-toggler:active {
    background-color: #ffc107 !important;
    box-shadow: none !important;

}
.navbar-toggler:focus {
    background-color: #ffc107 !important;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #ffc107 !important;
    box-shadow: none !important;
}
